
.App {
  text-align: center;
}


.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Высота контейнера будет занимать весь экран */
}

/* Стили для лоадера */
.loader {
  border: 8px solid #3581e4; /* Цвет фона круга */
  border-top: 8px solid #3498db; /* Цвет анимации */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite; /* Анимация вращения */
}

/* Анимация вращения */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
