.card-stack {
    position: relative;
    width: 100%;
    height: 100%; /* Ограничение ширины контейнера */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    justify-content: center;
  }
  
  /* Стили для карточек */
  .card {
    width: 100%; /* Широкие карточки */ /* Ограничение максимальной ширины */
    max-width: 1200px;
    height: 400px; /* Высота карточки */
    background-color: #e6e7e9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Глубокая тень */
    border-radius: 20px; /* Закругленные углы */
    margin-bottom: 50px; /* Пространство между карточками */
    padding: 30px;
    position: sticky;
    top: 120px; /* Точка "залипания" при скролле */
    transform: translateY(-50px); /* Эффект наложения */
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    color: #333;
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  /* Индивидуальные настройки для каждой карточки */
  .card:nth-child(2) { top: 120px; }
  .card:nth-child(3) { top: 120px; }
  .card:nth-child(4) { top: 120px; }
